body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 0px;
  margin: 0px;
  background-color: #849d8f;
}
h1 {
  font-size: 60px;
  color: white;
}
h2 {
  font-size: 35px;
  color: white;
}
h3 {
  font-size: 24px;
  color: #323232;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 25px 0px 25px;

}
.main_navigation {
  float: left;
  width: 500px;
  margin-top: 10px;
}
.main_navigation_catalog:hover .sub_catalog_menu {
  display: block;
}
.main_logo {
  float: left;
  width: 150px;
  margin-top: 10px;
}
.main_navigation > ul > li {
  display: inline-block;
  font-weight: bold;
}
.main_navigation > ul > li > a {
  color: white;
  padding: 5px 15px;
  border-radius: 35px;
}
.main_navigation > ul > li > a:hover {
  background: #f7f6f3;
  color: #333333;
  text-decoration: none;
}
.main_navigation > ul > li > a:active {
  background: #f7f6f3;
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0px 2px 2px #686868;
}
.nav_catalog_menu {
  position: absolute;
  width: 145px;
  background-color: white;
  padding: 15px 20px;
}
.main_logo {
  float: left;
}
.user_block {
  float: right;
  margin-top: 20px;
}
.user_block > div {
  display: inline-block;
  margin-left: 10px;
}
.user_block > input[type="search"] {
  display: none;
}
.user_block a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.3);
}
.user_block_enter > a {
  padding: 7px 15px 7px 10px;
  border-radius: 35px;
}
.user_block_enter > a::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url('../img/icon/enter21-19.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-right: 8px;
  margin-bottom: 4px;
}
.user_block_enter > a:hover {
  background-color: #f8f7f4;
  color: black;
}
.user_block_enter > a:hover::before {
  background-image: url('../img/icon/sign-in-black.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.user_block_basket > a {
  padding: 7px 35px 7px 10px;
  border-radius: 35px;
}
.user_block_basket > a::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url('../img/icon/basket21-20.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-right: 8px;
  margin-bottom: 4px;
}
.user_block_basket > a:hover {
  background-color: #f8f7f4;
  color: black;
}
.user_block_basket > a:hover::before {
  background-image: url('../img/icon/fullcart.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.search_icon {
  width: 20px;
  height: 20px;
  background-image: url('../img/icon/loup.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.search_icon:hover {
  background-color: #f8f7f4;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/icon/search-hover.png');
}
.work_time {
  color: white;
  width: 175px;
  margin-left: auto;
  margin-top: 70px;
  font-weight: 14px;
  text-align: right;
}
.work_time b {
  font-size: 22px;
}
.site_wrapper {
  background-color: #849d8f;
  background-image: url('../img/mainlogo1045-881.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.main_slider {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 270px;
  position: relative;
}
.slider_items {
  display: none;
  text-align: center;
}
.slider_items h2 {
  font-size: 60px;
  line-height: 60px;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  z-index: 1;
}
.slider_items a {
  font-size: 31px;
  font-weight: bold;
  line-height: 41px;
  vertical-align: top;
  color: white;
  text-decoration: none;
  padding: 12px 50px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 35px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.slider_items a:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}
.slider_items a:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}
.radio_btn {
  display: none;
}
#btn_1:checked ~ .site_wrapper #slider_item_1,
#btn_2:checked ~ .site_wrapper #slider_item_2,
#btn_3:checked ~ .site_wrapper #slider_item_3 {
  display: block;
}
#btn_1:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url('../img/mainlogo1045-881.png');
}
#btn_2:checked ~ .site_wrapper {
  background-color: #8996a6;
  background-image: url('../img/slide2-1046-845.png');
}
#btn_3:checked ~ .site_wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slide3-1046-838.png');
}
#btn_1:checked ~ .site_wrapper label[for="btn_1"],
#btn_2:checked ~ .site_wrapper label[for="btn_2"],
#btn_3:checked ~ .site_wrapper label[for="btn_3"] {
  background-color: white;
}
.slider_control {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.slider_control_btn {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slider_control_btn:hover {
  background-color: #b2c1b7;
}
.main_actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main_actions_item {
  width: 560px;
  height: 230px;
  border-radius: 20px;
}
.straw_item {
  background-image: url('../img/straw-back560-229.jpg');
}
.choco_item {
  background-image: url('../img/choco-back560-229.jpg');
}
.main_actions_item h2 {
  margin-left: 20px;
}
.main_actions_item p {
  color: white;
  margin-left: 20px;
  font-size: 18px;
}
.main_actions_item a {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  vertical-align: top;
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 35px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.main_actions_item a:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}
.main_actions_item a:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}
.catalog_btn:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.main_catalog_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 1150px;
}
.main_catalog_item article {
  width: 270px;
  position: relative;
  text-align: center;
}
.catalog_item .hit_img {
  position: absolute;
}
.catalog_item .catalog_price {
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 200px;
  text-shadow: 1px 1px 1px black;
}
.catalog_item a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #a9bbb1;
}
.main_shop_about {
  background: url("../img/wafer1146-306.jpg");
  background-size: 1190px 340px;
  border-radius: 15px;
  padding: 20px 30px;
  margin: 40px 0px 40px 0px;
}
.shop_about_left {
  float: left;
  width: 520px;
  vertical-align: top;
}
.shop_about_right {
  float: right;
  width: 520px;
  vertical-align: top;
}
.shop_about_block p {
  font-size: 16px;
  overflow: hidden;
}
.shop_about_block img {
  float: left;
  margin-right: 5px;
  margin-top: -10px;
}
.shop_blog {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.shop_blog_new,
.shop_blog_subscribe {
  float: left;
  width: 560px;
  border-radius: 15px;
}
.shop_blog_new {
  height: 220px;
  background: url('../img/strawwb560-220.jpg');
}
.shop_blog_new h3 {
  font-size: 14px;
  color: #5a5a5a;
  margin: 30px 0px 15px 30px;
}
.shop_blog_new a {
  display: block;
  width: 280px;
  font-size: 24px;
  color: #353535;
  text-decoration: underline;
  margin: 0px 0px 0px 30px;
}
.shop_blog_new a:hover {
  color: #ffbc9e;
}
.shop_blog_subscribe {
  height: 220px;
  background: url('../img/mail560-220.jpg');
  margin-left: 30px;
}
.shop_blog_subscribe p {
  color: #5a5a5a;
  margin: 30px 15px 15px 30px;
}
.shop_blog_subscribe form {
  margin: 0px 0px 0px 30px;
}
.shop_blog_subscribe input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  height: 45px;
  width: 365px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  font-size: 16px;
  outline: none;
  padding-left: 10px;
}
.btn_style {
  border: none;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: top;
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 35px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;
  cursor: pointer;
}
.btn_style:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}
.btn_style:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}
.container_map {
  position: relative;
  height: 430px;
  border-top: 0.1px solid rgba(1, 1, 1, 0.0);
}
iframe {
  position: absolute;
  bottom: -1650px;
  height: 430px;
  width: 100%;
  z-index: 1;
}
.map_block_address {
  position: relative;
  width: 300px;
  margin: 45px 0px 0px auto;
  padding: 25px 25px;
  background: white;
  border-radius: 15px;
  color: #343434;
  line-height: 20px;
  z-index: 10;
}
.map_block_address p {
  font-size: 14px;
  width: 175px;
}
.map_block_address b {
  font-size: 18px;
}
.address_btn{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  font-size: 17px;
  font-weight: bold;
  vertical-align: top;
  color: white;
  text-decoration: none;
  padding: 13px 20px;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 35px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}
.address_btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}
.address_btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}
.social_block {
  float: left;
  padding-top: 35px;
  width: 265px;
}
.social_block a {
  display: inline-block;
  margin-right: 10px;
}
.social_block .twitter_block {
  background-image: url('../img/icon/tw.png');
  background-position: -1px -1px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 30px;
  height: 30px;
  border: 3px solid #cec5c2;
  border-radius: 50%;
}
.social_block .twitter_block:hover {
  opacity: 1;
}
.social_block .twitter_block:active {
  box-shadow: inset 0px 2px 3px #9b9b9b;
}
.social_block .insta_block {
  background-image: url('../img/icon/insta.png');
  background-position: -1px -1px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 30px;
  height: 30px;
  border: 3px solid #cec5c2;
  border-radius: 50%;
}
.social_block .insta_block:hover {
  opacity: 1;
}
.social_block .insta_block:active {
  box-shadow: inset 0px 2px 3px #9b9b9b;
}
.social_block .fb_block {
  background-image: url('../img/icon/fb.png');
  background-position: -1px -1px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 30px;
  height: 30px;
  border: 3px solid #cec5c2;
  border-radius: 50%;
}
.social_block .fb_block:hover {
  opacity: 1;
}
.social_block .fb_block:active {
  box-shadow: inset 0px 2px 3px #9b9b9b;
}
.social_block .pasha_block {
  background-image: url('../img/icon/vk.png');
  background-position: -1px -1px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 30px;
  height: 30px;
  border: 3px solid #cec5c2;
  border-radius: 50%;
}
.social_block .pasha_block:hover {
  opacity: 1;
}
.social_block .pasha_block:active {
  box-shadow: inset 0px 2px 3px #9b9b9b;
}
.documents_block {
  float: left;
  width: 400px;
  padding-top: 35px;
  margin-left: 140px;

}
.documents_block a {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #a9bbb1;
  font-size: 13px;
}
.documents_block a:last-child {
  margin-left: 47px;
}
.documents_block a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.heart_marker:before {
  content: '';
  display: block;
  position: absolute;
  left: -25px;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url('../img/icon/heart15-13.png') no-repeat 50% 50%;
}
.academy_block {
  margin-top: 20px;
  float: right;
  font-size: 14px;
  line-height: 8px;
  width: 250px;
  color: white;
}
.academy_block .academy_link {
  font-size: 14px;
  line-height: 8px;
  width: 250px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #a9bbb1;
}
.academy_block .academy_link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.breadcrumb {
  margin-top: -40px;
  margin-left: -40px;
}
.breadcrumb li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: white;
}
.breadcrumb li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #c2cec7;
}
.breadcrumb li a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.container h1 {
  margin-top: 10px;
  font-size: 35px;
}
.item_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item_container article {
  position: relative;
  width: 270px;
  margin-bottom: 40px;
}
.item_container .btn_style {
  display: none;
}
.catalog_inner {
  position: relative;
  width: 270px;
  vertical-align: top;
  text-align: center;
}
.catalog_inner:hover {
  position: absolute;
  background-color: rgba(167, 184, 173, 0.8);
  border-radius: 15px;
  z-index: 1;
  vertical-align: top;
  text-align: center;
  box-shadow: 0px 10px 15px 2px #748a7e;
  padding: 8px 8px 25px 8px;
}
.catalog_inner:hover .btn_style {
  display: block;
  margin-top: 25px;
}
.catalog_paging {
  float: right;
  margin-bottom: 40px;
}
.catalog_paging .pagin_btn {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 50%;
  color: white;
}
.catalog_paging .paging_active {
  background-color: white;
  color: black;
}
.catalog_paging .pagin_btn:hover {
  background-color: #9db1a5;
}
.catalog_paging .paging_prev {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-left: 2px solid #9db1a5;
  border-bottom: 2px solid #9db1a5;
  transform: rotateZ(45deg);
}
.catalog_paging .paging_next {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotateZ(-135deg);
}
.main_navigation .visit_page {
  background-color: #d07058;
  text-decoration: none;
}
.main_form {
  font-size: 0;
  margin-bottom: 40px;
}
.filter_item h5 {
  margin-bottom: 10px;
  margin-left: 15px;
}
.filter_item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  color: white;
  margin-right: 15px;
}
.select_styled {
  border: none;
  background-color: #a9b9af;
  padding: 7px 15px 7px 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
.select_styled:hover {
  background-color: white;
  color: black;
}
.range_filter {
  width: 190px;
  background-color: #a9b9af;
  padding: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 35px;
}
.range_filter .scale {
  height: 5px;
  background: #d1d9d2;
}
.range_filter .bar {
  width: 95px;
  height: 5px;
  background: white;
  margin-left: auto;
  margin-right: auto;
}
.range_filter .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  left: 30px;
  top: 7px;
  cursor: pointer;
  box-shadow: 0px 2px 2px #98a79e;
}
.range_filter .max_toggle {
  left: 165px;
}
.range_filter .min_toggle {
  left: 30px;
}
.filter_radio {
  position: relative;
  border: none;
  background-color: #a9b9af;
  padding: 7px 0px 7px 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: white;
  font-size: 16px;
}
.filter_radio label {
  position: relative;
  margin-left: 35px;
  margin-right: 15px;
}

.filter_radio input[type="radio"] {
  display: none;
}
.filter_radio input[type="radio"] + .radio_indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 50%;
  left: -30px;
  top: -2px;
  cursor: pointer;
}
.filter_radio input[type="radio"] + .radio_indicator::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}
.filter_radio input[type="radio"]:checked + .radio_indicator::before {
  background-color: white;
}
.filter_chbx {
  position: relative;
  background-color: #a9b9af;
  padding: 7px 0px 7px 15px;
  border-radius: 35px;
  vertical-align: middle;
  color: white;
  font-size: 16px;
}
.filter_chbx label {
  vertical-align: top;
  position: relative;
  margin-left: 35px;
  margin-right: 15px;
}
.filter_chbx input[type="checkbox"] {
  display: none;
}
.chbx_indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  left: -30px;
  top: -1px;
  cursor: pointer;
}
.filter_chbx input[type="checkbox"]:checked + .chbx_indicator::before{
  position: absolute;
  left: 10px;
  content: '';
  width: 2px;
  height: 10px;
  background-color: white;
  transform: rotate(45deg);
}
.filter_chbx input[type="checkbox"]:checked + .chbx_indicator::after {
  position: absolute;
  top: 10px;
  content: '';
  width: 2px;
  height: 5px;
  background-color: white;
  transform: rotate(-45deg);
}
.filter_btn {
  padding: 10px 40px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 35px;
  border: none;
  margin-top: 54px;
  color: white;
  background: #9aaea3;
  outline: none;
  box-shadow: inset 0px 0px 0px 2px white;
  cursor: pointer;
}
.filter_btn:hover {
  background-color: white;
  color: #383939;
}
.filter_btn:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 3px #8a8b8a;
  border: none;
  outline: none;

}
.sub_catalog_menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 395px;
  padding: 10px;
}
.catalog_menu {
  width: 140px;
  background-color: #f8f7f4;
  border-radius: 5px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  font-size: 0;
  box-shadow: 2px 12px 15px 0px #58665e;
}
.catalog_menu li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  padding: 5px 0px 5px 0px;
}
.catalog_menu li:first-child {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
  margin: 5px 5px 0px 5px;
}
.catalog_menu a {
  text-decoration: none;
  color: black;
  width: 100%;
  margin-left: 20px;
}
.catalog_menu li:hover:nth-of-type(2),
.catalog_menu li:hover:nth-of-type(3),
.catalog_menu li:hover:nth-of-type(4),
.catalog_menu li:hover:nth-of-type(5) {
  background-color: #fbded7;
}
.catalog_menu li:active:nth-of-type(2),
.catalog_menu li:active:nth-of-type(3),
.catalog_menu li:active:nth-of-type(4),
.catalog_menu li:active:nth-of-type(5) {
  background-color: #f6b5a5;
}
.catalog_menu li:hover:nth-of-type(5),
.catalog_menu li:active:nth-of-type(5) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search_icon > .sub_search_popup {
  display: none;
  position: absolute;
  top: 50px;
  left: 820px;
  padding: 10px;
}
.search_popup {
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 270px;
  box-shadow: 2px 12px 20px 0px #58665e;
}
.search_popup input[type="search"] {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
  width: 100%;
  padding-left: 10px;
}
.search_icon:hover .sub_search_popup {
  display: block;
}
.sign_inner {
  position: absolute;
  display: none;
  top: 50px;
  left: 940px;
  padding: 10px;
  z-index: 1;
}
.sign_in_popup {
  width: 255px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 2px 12px 20px 0px #58665e;
}
.sign_in_popup .btn_style {
  font-size: 15px;
  padding: 10px 20px;
}
.sign_in_popup input[type="text"] {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
  width: 240px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.sign_in_popup input[type="password"] {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
  width: 240px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.sign_in_popup button {
  width: 100px;
}
.sign_in_popup a {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #4d4d4d;
  text-decoration: underline;
}
.sign_in_popup a:hover {
  color: #ffbc9e;
}
.signin_help {
  width: 120px;
  float: right;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover {
  border: 2px solid #c7c6c5;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  border: 2px solid #8fbdec;
}
input[type="text"],
input[type="password"],
input[type="search"] {
  box-sizing: border-box;
}
.user_block_enter:hover .sign_inner {
  display: block;
}
.main_footer .container {
  border-top: 1px solid #a9bbb1;
}
.cart_submenu_border {
  display: none;
  position: absolute;
  padding: 20px;
  top: 45px;
  left: 660px;
  z-index: 1;
}
.cart_submenu {
  position: relative;
  width: 660px;
  padding: 25px 15px 20px 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 12px 20px 0px #58665e;
}
.cart_submenu_choise {
  margin-bottom: 20px;
}
.cart_submenu div,
.cart_submenu img {
  display: inline-block;
  vertical-align: middle;
}
.cart_submenu img {
  margin: 0px 15px 0px 15px;
}
.cart_submenu .choise_cont {
  margin-right: 35px;
}
.choise_cont span {
  color: #7f7f7f;
}
.cart_submenu .choise_cont_desc {
  margin-right: 35px;
  width: 280px;
}
.cancel_btn {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.cancel_btn::before,
.cancel_btn::after {
  position: absolute;
  left: 22px;
  content: '';
  height: 15px;
  width: 2px;
  background-color: #434342;
}
.cancel_btn::before {
  transform: rotate(45deg);
}
.cancel_btn::after {
  transform: rotate(-45deg);
}
.cart_main_cont {
  border-bottom: 1px solid #cacac7;
}
.cart_submenu_order {
  float: right;
}
.cart_submenu_order .order_price {
  font-weight: bold;
  margin: 15px 0px 15px 55px;
}
.cart_submenu_order a {
  display: block;
}
.user_block_basket:hover .cart_submenu_border{
  display: block;
}
.feedback_block {
  display: none;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.feedback_form {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 480px;
  background-color: #f8f7f4;
  z-index: 10;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.feedback_form b {
  font-size: 24px;
  font-weight: bold;
}
.feedback_form input[type="text"] {
  height: 45px;
  width: 265px;
  box-sizing: border-box;
  display: block;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-top: 25px;
  outline: none;

}
.feedback_form input[type="text"]:hover {
  border: 2px solid #c7c6c5;
}
.feedback_form input[type="text"]:focus {
  border: 2px solid #8fbdec;
}
.feedback_close {
  position: absolute;
  left: 490px;
  top: 15px;
  width: 21px;
  height: 21px;
  border: 0;
  font-size: 0;
  outline: 0;
  cursor: pointer;
  background: none;
}
.feedback_close::before,
.feedback_close::after {
  position: absolute;
  content: '';
  width: 21px;
  height: 2px;
  background-color: black;
  left: 0px;
}
.feedback_close::before {
  transform: rotate(45deg);
}
.feedback_close::after {
  transform: rotate(-45deg);
}
.feedback_form textarea {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 20px 20px 15px;
  margin-top: 25px;
  width: 100%;
  max-width: 475px;
  min-width: 475px;
  height: 100%;
  max-height: 165px;
  min-height: 165px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
}
.feedback_form textarea:hover {
  border: 2px solid #c7c6c5;
}
.feedback_form textarea:focus {
  border: 2px solid #8fbdec;
}
.feedback_form .btn_style {
  float: right;
  margin-top: 20px;
}
.js_show_selector {
  display: block;
}
.js_hide_selector {
  display: none;
}
